# Ignore macOS system files
.DS_Store
# Ignore Python cache files
__pycache__/
*.py[cod]
# Ignore virtual environment directories
venv/
.env
# Ignore log files
*.log
# Ignore database files
*.sqlite3
# Ignore IDE specific files
.vscode/
.idea/