# ignore d'un projet fastapi

__pycache__

# ignore de l'environnement virtuel
venv/
env/
ENV/
.env

# ignore des fichiers de configuration
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyz.asc
*.pyz.asc.sig
*.pyz.sig
*.pyz.sig.asc

# ignore des fichiers de cache
*.cache
*.log
*.log.*
*.log-*
*.log/*

